.header {
  font-size: var(--fs-300);
  padding-inline: 5%;
}
.menu > * {
  border-bottom: 3px transparent solid;
  transition: all 0.4s;
  cursor: pointer;
}
.menu > *:not(.logo):hover {
  border-bottom: 3px red solid;
  transition: all 1s;
}
.menu > *.active {
  border-bottom: 3px red solid;
}
.logo-name {
  font-family: "Agustina", sans-serif !important;
  font-size: 2rem;
}
.logo {
  user-select: none;
}
.logo-name:hover {
  color: red;
}
.responsive-menu {
  display: none !important;
}

/* Responsive menu */
@media (max-width: 91em) {
  .responsive-menu {
    display: block !important;
  }
  .desktop-menu {
    display: none;
  }
}
@media (max-width: 75em) {
  .logo-name {
    font-size: 4vw;
  }
}
